<div class="container">
<h1><%= "My Project: #{@project.name}"%></h1>
</div>
    <ol class="breadcrumb">
      <li><%=link_to "Projects", projects_path%></li>
      <li><%= link_to " #{@project.name}", projects_path() %></li>
      <li>Tasks</li>
    </ol>

<%= render "form" %>
