
      <h2><strong>Frequently asked questions</strong></h2>
      <br></br>
      <p class="container-fluid">
        <ul>
            <% @questions.each do |quest| %>
              <li><%=link_to("#{quest.question}", anchor: "#{quest.slug}")%>
              </li>
            <% end%>
      </p>
        </ul>
    <br></br>
            <% @questions.each do |quest| %>
             <a name="<%=quest.slug %>"></a><h4><%= quest.question %></h4>
              <%= quest.answer %>
                <br></br>
            <% end%>
