<div class="outercontainer">
  <div class="termbotron top-buffer">
    <div class="container-fluid">
      <h2><strong>Frequently asked questions</strong></h2>
      <br></br>
      <p class="container-fluid">
        <ul>
            <% @questions.each do |quest| %>
              <li><%=link_to("#{quest.question}", anchor: "#{quest.slug}")%>
              </li>
            <% end%>
      </p>
        </ul>
    <br></br>
            <% @questions.each do |quest| %>
              <h4><%= quest.question %></h4>
              <a name="<%=quest.slug %>"></a><%= quest.answer %>
                <br></br>
            <% end%>

    </div>
  </div>
