<div class="outercontainer">
  <!-- <div class="termbotron top-buffer"> -->
    <div class="container-fluid">

<h1>New task</h1>

<%= render 'form' %>
<%= link_to 'Back', tasks_path %>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>
