<div class="outercontainer">
  <!-- <div class="termbotron top-buffer"> -->
    <div class="container-fluid">
<p id="notice"><%= notice %></p>

  <h1><strong>Description: </strong></h1>
  <%= @task.description %>
</p>
<br></br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>
</div>
