<div class="outercontainer">
    <div class="container-fluid">
<p id="notice" class="alert alert-success"><%= notice %></p>

  <h1><strong>Description: </strong></h1>
  <%= @task.description %>
</p>
<br></br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
