<div class="container">

  <h1 class="page-header">Edit User</h1>

  <%= render 'form' %>
  <div class="top-pad">
    <div class="well well-md col-md-1 col-md-offset-2">
      <%= link_to 'Destroy', @user, class: "btn btn-danger repos",
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
