
  <div class="page-header">
    <h2>User</h2>
    <br>
    <div class="row">
      <div class="col-md-12">

        <%= "Name: #{@user.first_name} #{@user.last_name}" %>
        <br>
        <% if current_user.id == @user.id || current_user.admin || @common_users.include?(@user.id)%>
          <%= "email: #{@user.email}" %>
        <% end %>
        <br>
        <% if current_user.id == @user.id  || current_user.admin %>
          <% pivtoken_size = @user.pivotal_tracker_token.length - 4 %>
          <%  pivblanks = "*"*pivtoken_size%>
          <% new_piv_token = "#{@user.pivotal_tracker_token[0..3]}#{pivblanks}"%>
          <%=  "Pivotal Tracker Token: #{new_piv_token}" %>
          <br>
          <%= link_to("edit", edit_user_path(@user))%>
          <% end %>

      </div>
    </div>
  </div>
