
  <div class="page-header">
    <h2>User</h2>
    <br>
    <div class="row">
      <div class="col-md-12">

        <%= "Name: #{@user.first_name} #{@user.last_name}" %>
        <br>
        <%= "email: #{@user.email}" %>

      </div>
    </div>
  </div>
