
  <div class="page-header">
    <h2>User</h2>
    <br>
    <div class="row">
      <div class="col-md-12">

        <%= "Name: #{@user.first_name} #{@user.last_name}" %>
        <br>
        <% if current_user.id == @user.id || current_user.admin %>
          <%= "email: #{@user.email}" %>
        <% end %>
        <br>
        <% if current_user.id == @user.id  || current_user.admin %>
          <%= link_to("edit", edit_user_path(@user))%>
          <% end %>

      </div>
    </div>
  </div>
