

      <h1>Terms</h1>
      <br></br>
      <p class="main_text"> gCamp is freely available for your use.</p>
      <br></br>
      <p class="main_text"> However, it is in development so be warned.</p>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
