

      <h1>Terms</h1>
      <br></br>
      <p class="main_text"> gCamp is not responsible for anything, unless it is postive.</p>
      <br></br>
      <p class="main_text"> You may not take us to court, for anything ever.</p>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <br></br>
