  <div class="jumbotron top-buffer">
    <div class="container">
            <h1>gCamp</h1>
            <p></p>
            <p>This is a gCamp paragraph!</p>
          </div>
        </div>

  <div id="lowercontainer"class="container-fluid">
    <div class="row top-buffer">
      <div class="span4">
        <div class="col-md-4">
            <img src="http://www.freeimageslive.com/galleries/sports/moods%20emotions/preview/block_of_flatsP1010401.jpg" class="img-responsive">
            </img>
      </div>
    </div>
      <div class="span4">
        <div class="col-md-4">
            <img src="http://www.freeimageslive.com/galleries/sports/moods%20emotions/preview/misty_mountain_cabinP1011623.jpg" class="img-responsive">
            </img>
      </div>
    </div>
    <div class="span4"><div class="col-md-4">
      <img src="http://www.freeimageslive.com/galleries/sports/moods%20emotions/preview/remarkables_mountains_sunsetP8145709.jpg" class="img-responsive">
      </img>
    </div>
  </div>
</div>
    <div class="row top-buffer">
      <div class="span4"><div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Tasks</h3>
          </div>
          <div class="panel-body">
              <p>Grouped by projects and lists. Just the way you like'em.
              </p>
          </div>
        </div>
      </div>
    </div>
      <div class="span4">
        <div class="col-md-4">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Documents</h3>
          </div>
          <div class="panel-body">
            <ul>
                <li>Upload</li>
                <li>Comment</li>
                <li>Revise</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="span4"><div class="col-md-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
              <li>Comment on tasks and documents</li>
              <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>

    <% @quotes.each do |quote| %></a>
        <div class="quotes"
          <a href="#money"><p><strong><%= quote.phrase %></strong></a>
            <br></br>
            <div class="text-muted">~<%= quote.author %></div>
            </p>
            <br></br>
        </div>
      <% end%>
  </div>



</div>
</div>
