  <div class="termbotron top-buffer text-center">
    <div class="container">
      <h1><strong>About</strong></h1>
      <br></br>
      <p style="font-size: 150%">This is the about page about this site!</p>
      <br></br>
      <%= image_tag"meeting1.png" %>
    </div>
  </div>
