
@import "bootstrap-sprockets";
@import "bootstrap";

h2 {}
.navbar {background-color: #E99600;
         color: black;
         font-family: "Comic sans MS";}

.jumbotron {margin-left: 150px;
            margin-right: 440px;
            margin-top: 150px;
            }

/*.jumbotron.container {background-color: gray;
                      border-style: solid;}*/

.jumbotron {background-color: #EDEDED;
            border-style: solid;
            border-color: black;
            font-family: "Comic sans MS";}

.panel-heading {background-color: #9FB9F2;
                border-color: black;
                font-family: "Comic sans MS";}

#lowerhead.panel-heading {background-color: #EDEDED;
border-color:black;}

.panel-body {font-family: "Comic sans MS";}

.top-buffer {margin-top:30px;}


.panel {border-color: black;}

/*#lowercontainer.container {background-color: purple;}*/

/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
