
@import "bootstrap-sprockets";
@import "bootstrap";
h3 a {text-decoration: none; color:green;}
.page-header{
              border-bottom: 2px solid pink;
            }

.navbar {background-color: #000000;
         color: black;
         font-family: "Arial";}

.main_text {font-size: 150%}

.jumbotron {margin-left:  1%;
            margin-right: 1%;
            padding: 0%;
            }
.termbotron {font-family: "Arial";}

.jumbotron {background-color: #EDEDED;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            font-family: "Arial";
            }

.panel-heading {background-color: #9FB9F2;
                border-color: black;
                font-family: "Arial";}

#lowerhead.panel-heading {background-color: #EDEDED;
border-color:black;}

.panel-body {font-family: "Arial";
             height: 100px;}

.top-buffer {margin-top: 30px;}

.midpanel{margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: 100%;
  position: relative;
}
.row{position:relative;}

.outercontainer {background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        width: 90%;
        height: 100%;
        position: relative;}


.panel {border-color: black;
        position: relative;}

.quotes {padding-left: 2%;
         font-family: "Arial";}

body {background-color: #EDEDED;}
div h3 {padding-left: 11%}
footer div {margin-left: 2%;}

hr {border: 1px solid #ABABAB;}

a { text-decoration: none; color:purple; }
/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
