
@import "bootstrap-sprockets";
@import "bootstrap";

p.shifty {margin-left: 1em;}
p.redalert {color:red;}
div.well.col-md-4.col-md-offset-4 {margin-top: 2em;}
div.whitespce { padding-top:45em}
ol.breadcrumb { margin-left: 1em;}
p.navadjust {padding-right: 5em;
             margin-top: -0.5em;
             color: white;}

.alert-success {text-align: center}

.glyphicon-ok {color: green;
               padding-left: 20px;}

.glyphicon-remove {color: red;
                  padding-left: 20px;}

.actions.col-sm-offset-2 {padding-left: 13px;}

.form-group.col-sm-offset-2 {margin-left: 13px;}

.table {margin: 13px;
        margin-top: -30px;
        }
.test1 {font-size: 14px;
        padding-right: 2em;}

.heading-shift {padding-left: 15px;
                }
.pull-right.retext {font-size: 14px;}
h3 a {text-decoration: none; color:white;}

.page-header{padding-left: 0px;
             border-bottom: 0px solid black;

            }
.tsize {font-size: 18px;
        color: gray;}

p strong {font-size: 24px}

.bill {margin-left: 30px;
       padding-top: 10px;
       padding-bottom: 10px;}

.btn {margin-left: 0px;
          margin-top: 0%;}

.navbar {background-color: #000000;
         color: black;
         font-family: "Arial";
         }

.main_text {font-size: 150%}

.jumbotron {margin-left:  1%;
            margin-right: 1%;
            }
.termbotron {font-family: "Arial";}

.jumbotron {background-color: #EDEDED;
            border-style: solid;
            border-color: black;
            border-radius: 5px;
            font-family: "Arial";
            }

.panel-heading {background-color: #9FB9F2;
                border-color: black;
                font-family: "Arial";}

#lowerhead.panel-heading {background-color: #EDEDED;
border-color:black;}

.panel-body {font-family: "Arial";
             height: 100px;}

.top-buffer {margin-top: 30px;}

.midpanel{margin-left: auto;
  margin-right: auto;
  width: 99%;
  height: 100%;
  position: relative;
}

.btn.btn-danger.repos {margin-left: -10px;}
.row{position:relative;}

.top-pad {margin-left: 20px;
          margin-top: 20px;}

.bobby {margin-left: 16px;}
.outercontainer {background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
        width: 90%;
        height: 100%;
        position: relative;}
.chckshift {padding-left: 15px;}
.sorty {padding-right: 20px;}
.shifty {margin-right: -13px;}
.panel {border-color: black;
        position: relative;}

.quotes {padding-left: 2%;
         font-family: "Arial";}

body {background-color: #EDEDED;}

div h3 {padding-left: 11%}

footer div {margin-left: 2%;}

hr {border: 1px solid #ABABAB;
    margin-left: 13px;
    margin-right: -13px;}

.col-sm-offset-1 {padding-left: 14px;}


/*
 *= require_tree .
 *= require_self
 */
