// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
button { text-decoration: none;
         color:#000; }
.page-header{
              border-bottom: 10px;
              border-color: black;
              margin:18px;}
