
  <% if model.errors.any? %>
    <div class="container-fluid col-sm-offset-2">
      <div id="error_explanation" class="col-sm-6 alert alert-danger">
        <h5><%= pluralize(model.errors.count, "error") %> prohibited from this form being saved</h5>
        <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message%></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>
